
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
html {
	font-size: 62.5%;
}
body {
	font-family:'Open Sans', sans-serif;
	font-size: 2rem;
}
h1, h2, h3, h4, h5, h6 {
	font-family:'Montserrat', sans-serif;
}
h1 {
	font-size: 6rem;
	text-transform: uppercase;
}
h2 {
		font-size: 6rem;
		margin-bottom: 5rem;
		text-transform: uppercase;
		line-height: 1.2;
}
h3 {
	font-size: 5rem;
}
h4 {
	font-size: 4.5rem;
}
h5 {
	font-size: 4rem;
}
h6 {
	font-size: 3.5rem;
}
a{
	text-decoration: none;
}
table {
	width: 100%;
	border-collapse: collapse;
	min-width: 3.5rem;
}
table caption {
	font-style: italic;
	text-align: left;
	font-size: 1.6rem;
	margin-bottom: 1rem;
}
table th, table td {
	white-space: nowrap;
	border: 0.1rem solid gray;
	text-align: left;
	padding:1rem;
}
tfoot td, table th {
	background-color: rgb(18, 33, 66);
}