:root {
 --primary-color: #0A1128;
 --white-color: #FFFFFF;
 --gap: 3rem;
 --secondary-color: #fc233b;
}
.mainbg {
	background-image: url('../img/endless-constellation\ \(1\).svg');
	background-size: cover;
	background-position: center center;
	color: var(--white-color);
}
.whitebg {
	background-color: var(--white-color);
	color: var(--primary-color);
}
.maincontent {
	max-width: 120rem;
	margin: 0 auto;
	padding: var(--gap);
}
.section {
	min-height: 100vh;
}
section .maincontent{
	padding: 8rem var(--gap) var(--gap) var(--gap);
}
.menu {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	border-bottom:0.1rem solid lightgray;
	z-index: 1;
}
.menucontent {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0;
}
.menu h1 {
	font-size: 2.3rem;
}
.menu h1 a{
	color: var(--primary-color);
}
.menu ul {
	list-style-type: none;
	display: flex;
}
.menu ul li a {
	display: block;
	color: var(--primary-color);
	padding: 2rem;
	font-size: 1.8rem;
	transition: 200ms ease-in;
	position: relative;
}
.menu ul li a::after {
	content: "";
	position: absolute;
	bottom: 1rem;
	left: 50%;
	width: 0;
	height: 0.2rem;
	background-color: var(--primary-color);
}
.menu ul li a:hover::after {
	content: "";
	position: absolute;
	bottom: 1rem;
	left: 25%;
	width: 60%;
	height: 0.2rem;
	background-color: var(--primary-color);
	transition: all 300ms ease-in-out;
}
.introcontent {
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	gap: var(--gap);
	align-items: center;
	min-height: 100vh;
}
.introimg img {
	max-width: 100%;
	max-height: auto;
}
.top3 {
	text-align: center;
	max-width: 1000px;
}
.gridoneconteudo {
	min-height: 100vh;
}
.gridoneconteudo h2{
	margin-bottom: 1rem;
}
#gridone {
	padding-top: 6rem;
}
.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	gap: var(--gap);
	counter-reset: counter;
	margin-top: 6rem;
	padding-top: 6rem;
}
.grid h3 {
	font-size: 3rem;
	position: relative;
	padding-left: 5rem;
	padding-bottom: 2rem;
}
.grid h3::before {
counter-increment: counter;
content: counter(counter);
font-style: italic;
font-size: 8rem;
position: absolute;
transform: rotate(5deg);
top: -3rem;
left: -2rem;
}
.galeryimg {
	width: 100%;
	max-width: 36rem;
	max-height: 36rem;
	overflow: hidden;
}
.galeryimg2 {
	margin-bottom: 7rem;
}
.galeryimg img {
	transition: all 300ms ease-in-out;
}
.galeryimg img:hover {
	transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}
.gridespaco{
	padding-top: 0px;
	margin-top: 5rem;
}
.responsivetable {
	overflow: hidden;
	overflow-x: auto;
}
.contactform {
	grid-column: span 2;
}
.contactform .formgrid {
	border: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--gap);
}
.formgroup {
	flex: 1 1 400px;
}
.formgroup label {
	display: block;
	color: var(--primary-color);
	margin-bottom: 1rem;
}
.formgroup input, .formgroup textarea {
	padding: 1.5rem;
	width: 100%;
	border: 0.2rem solid var(--primary-color);
	font-size: 2rem;
}
.formgroup input:focus, .formgroup textarea:focus {
	box-shadow: 0 0 1.5rem var(--primary-color);
}
 .fullwid{
	width: 100%;
	flex: 1 1 100%;
}
.formgroup button {
	background-color: white;
	border: 0.25rem solid var(--primary-color);
	color: var(--primary-color);
	padding: 1.5rem 2rem;
	font-size: 2.5rem;
	cursor: pointer;
	transition: all 300ms ease-in-out;
}
.formgroup button:hover {
	background-color: var(--primary-color);
	color: var(--white-color);
}
.footer {
	text-align: center;
}
.footer p {
	padding: 3rem;
}
.closemenu {
	display: none;
}
.backtotop {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	background-color: white;
	width: 5rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: var(--primary-color);
	font-size: 3rem;
	border: 1px solid var(--primary-color);
}
@media (max-width: 800px){
 .grid {
	 grid-template-columns: 1fr;
	}
 .galeryimg {
	 max-width: 100%;
	 max-height: 100%;
 	}
 	.galeryimg img {
	width: 100%;
 	}
 	.menu {
	 bottom: 0;
	 text-align: center;
 	}
	 .alinhamentomobile {
		 margin-top: 1rem;
	 }
 .menucontent, .menucontent ul{
	 flex-direction: column;
	 }
	.menucontent {
	height: 100vh;
	justify-content: center;
	}
	.menu {
		display: none;
	}
	.closemenulabel::after {
		content: "≡";
		position: fixed;
		top: 2rem;
		right: 2rem;
		z-index: 2;
		background-color: var(--primary-color);
		color: white;
		font-size: 3rem;
		line-height: 3rem;
		width: 3rem;
		height: 3rem;
		text-align: center;
		padding: 0.5rem;
		cursor: pointer;	
	}
	.closemenu:checked~.menu {
		display: block;
	}
	.closemenu:checked~.closemenulabel::after {
		content: "×";
	}
	.backtotop {
		position: fixed;
		bottom: 2rem;
		right: 2rem;
		background-color: white;
		width: 3rem;
		height: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		color: var(--primary-color);
		font-size: 1.8rem;
	}
}
